<!DOCTYPE html>
<html>
<head>
	<title>Cadastrar produto</title>
</head>
<body>
	<h1>Formulário de cadastro de produtos</h1>
	<form class="product_form">
		<div>
			<div>
				<p> Nome: <input type="text" name="nome" class="field" required> </p>
				<p> Categoria: <input type="text" name="categoria" class="field" required> </p>
				<p> Código de Barra: <input type="text" name="codigo" class="field" required> </p>
				<p> Fabricante: <input type="text" name="fabricante" class="field" required> </p>
			</div>
			<button type="submit">Enviar</button>
		</div>
	</form>
	<script src="form.js"></script>
</body>
</html>