@import "./common";

@import "@material/image-list/mdc-image-list";
@import "@material/typography/mdc-typography";
@import "@material/textfield/mdc-text-field";
@import "@material/elevation/mdc-elevation";
@import "@material/drawer/mdc-drawer";
@import "@material/dialog/mdc-dialog";
@import "@material/button/mdc-button";
@import "@material/chips/mdc-chips";
@import "@material/list/mdc-list";
@import "@material/ripple/mixins";

.form-label {
  padding-bottom: 6%;
  font-size: 90%;
}

.logo {
  width: 150px;
}

.home {
  background: whitesmoke;
  font-family: 'Raleway', sans-serif;
  display: flex; // Flexbox is used to easily arrange the persistent drawer and content side-by-side
}

.shrine-logo-drawer {
  display: block;
  width: 48px;
  padding: 40px 0 0;
  margin: 0 auto;
  fill: currentColor;
}

.shrine-title {
  @include mdc-typography(headline6);

  text-align: center;
  margin: 5px auto;
}

.product-list {
  @include mdc-image-list-masonry-columns(4);

  overflow: auto;
  padding: 30px 80px;

  .mdc-image-list__supporting {
    justify-content: center;
  }

  .mdc-image-list__item {
    padding: 10px;
  }

  .mdc-image-list__label {
    @include mdc-typography(subtitle2);
  }
}

.mdc-drawer__header {
  padding: 40px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mdc-drawer__header > i {
  font-size: 60px;
}

.shrine-drawer {
  @include mdc-drawer-fill-color-accessible(primary);
  // Drawer defaults to a higher z-index, but we aren't overlaying it over anything
  @include mdc-drawer-z-index(0);

  text-transform: uppercase;

  .mdc-list {
    margin: 20px 5px auto 5px;
  }

  .mdc-list-item {
    border-radius: 6px;
    justify-content: center;
  }

  // This needs 3-class specificity to override MDC Drawer styles
  .mdc-list .mdc-list-item {
    @include mdc-states-activated(#fff);
  }
}

.shrine-select-item-divider {
  display: block;
  border-bottom-color: #BBDEFB;
  border-bottom-width: 2px;
  width: 50px;
  position: relative;
  top: -8px;
}

// This needs 2-class specificity to override MDC Drawer styles
.shrine-drawer .shrine-select-item-divider {
  margin: 0 auto;
}

.shrine-body {
  @include mdc-elevation(4);

  display: block;
  overflow: auto;
  z-index: 0; // Elevate over the drawer
}

.product {
  background: white;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
  transition: .2s;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 300px;
}

.product span {
  font-family: 'Oswald', 'sans serif';
  background-color: $mdc-theme-primary;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 24px;
}

.mdc-image-list__supporting {
  display: flex;
  flex-direction: column;
}

.product h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #323232;
  padding: 0px;
  margin: 30px 0 0;
}


.product:hover {
  transform: scale(1.05);
}

.banner {
  margin: 10px;
}

.banner > img {
  width: 100%;
  border-radius: 5px;
}

.divisor {
  padding: 2px;
  margin: 0 10px;
  background-color: #E0E0E0;
}

/** Order Chips **/

.mdc-chip {
  background-color: #E0E0E0;
  margin: 0 10px;
}

.mdc-chip-set {
  display: inline;
}

.order-set > span {
  padding-left: 20px;
}

/** Forms **/

.mdc-text-field {
  display: block;
}

